<form>
    <h3>{{module_title}}</h3>
    <hr />
    <div>
        <p>
            <b>v{{version}}</b>, {{created_by}} <em>Geekswordsman</em></b>
        </p>
        <p>{{supportCreator}}<br /><a href="https://ko-fi.com/geekswordsman">https://ko-fi.com/geekswordsman</a></p>
        <p>{{project_page}}<br /><a href="{{url}}">{{url}}</a></p>
        <p>{{live_support}}<br /><a href="https://discord.gg/foundryvtt">https://discord.gg/foundryvtt</a></p>
    </div>
</form>