<section id="{{id}}" class="{{classes}}" data-appid="{{appId}}" autocomplete="off">
    {{#each stats}}
    <span class='value'>{{this.value}}</span>
    <span class='icon fa-solid'>{{{this.icon}}}</span>
    {{/each}}
</section>
